---
import Layout from '../layouts/Layout.astro';

import IntroductionHero from '../components/Hero/IntroductionHero.astro';
import ProjectCard from '../components/Projects/ProjectCard.astro';
---
<Layout title="Leo knudsen | forside">
	<IntroductionHero />
	<section class="about-section animate-fadeUp animate-delay-full">
		<h2 class="text-gradient">
			Who am i ?
		</h2>
		<p>Im a 30 year old passionated gamer and Web Developer with around 10 years of experience</p>
		<p>Im currently working a full time possition in a Danish Digital Agency “Webto ApS” as a frontend developer, where i work with both small, medium, large scaled websites and applications</p>
		<p>besides that im owner of Knudsen Design & Udvikling where i work part time as owner and developer</p>
		<p>Im also contributing to Danish Association Life where my development skillsets are put to need</p>
		<p>You can read more about me <a href="/about">here</a></p>
		<br>
	</section>
	<section class="projects-section animate-fadeUp animate-delay-full">
		<h2>My latest projects</h2>
		<div class="projects">
			<ProjectCard
				url="https://danishxboxleague.dk"
				image={import('../assets/images/DXL.png')}
				title="Danish Xbox League"
				description="Denmark's only E-sport Gaming association for XBOX gamers, their website is built in WordPress CMS with Elementor Page Builder, they have customized modules for handling their members and events with registration system"
			/>
			<ProjectCard
				url="https://servicexperten.dk"
				image={import('../assets/images/SERVICEXPERTEN.png')}
				title="Service Xperten"
				description="A service company that specializes in cleaning everything from windows to roofs and facade restoration"
			/>
		</div>
		<div class="text-center">
			<a href="/projects" class="btn btn-dark text-white">Go to projects</a>
		</div>
		<section class="section-get-in-touch">
			<h1>Lets get in touch</h1>
			<p>Do you have a project you want to get started on? Or do you just want to say hi? <br> Feel free to contact me</p>
			<p style="margin-top: 2rem;">
				<a href="/contact" class="btn btn-dark">Contact me</a>
			</p>
		</section>
	</section>
</Layout>

<style>
	.about-section {
		padding-inline: 0;
		padding-block: 8rem 2rem;
		padding: 8rem 0rem;
	}
	.projects-section {
		border-radius: 1rem;
		margin-block: 0rem 10rem;
		background-color: #0000000;
	}

	@media (max-width: 1139px) {
		.projects-section {
			padding: 5rem;
		}

		.about-section {
			padding-inline: 2rem;
		}
	}

	@media (max-width: 991px) {
		.projects-section h2 {
			font-size: 2.5rem;
		}
		.projects-section {
			margin-block: 5rem 2rem;
			padding: 0rem 1.5rem;
		}
	}
</style>