<section class="section-get-in-touch">
    <h3>Lets get in touch</h3>
    <p>Do you have a project you want to get started on? Or do you just want to say hi? <br> Feel free to contact me</p>
    <p style="margin-top: 2rem;">
        <a href="/contact" class="btn btn-dark">Contact me</a>
    </p>
</section>